# Dependencies
node_modules/

# Production builds
build/
dist/

# Development & Temp Scripts
esbuild-error.txt
recover.py
*.log
LLM/
OtherExtention/

# Editor/IDE
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
